* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: 45px;
    margin-left: 70px;
    margin-right: 70px;
}


.search input {
    border: none;
    padding-left: 20px;
    width: 100px;
    
}

.search input:focus {
    outline: none;
}

.search input:hover {
    transform: translateX(10px); 
    
}

header .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.icons i {
    padding-left: 7px;
    color: gray;
    width: 40px;
    transition-property: width , height;
    position: relative;
}

.icons i:hover, .icons i:active {
    color: black;
    font-size: 110%;
}

.icons sup {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    background: blueviolet;
    color: rgb(219, 218, 218);
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* end header */

nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; 
}

nav:hover {
    color: blueviolet;
}

nav select:hover {
    color: blueviolet;
}

nav a:hover {
    color: blueviolet;
}

select {
    border: none;
    font-weight: bold;
    font-size: 11px;
}

select:focus {
    outline: none;
}
nav a {
    text-decoration: none;
    color: black;
}

/* end nav */

.nav2 {
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    height: 40px;
    padding-left: 60px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.nav2 span {
    color: blueviolet;
}

/* end nav2 */

.main-sect {
    display: flex;
    justify-content: space-between;
}

.leftside {
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    height: 100vh;
    
}

.leftside .firstbox {
    height: 150px;
    border: 1px solid rgb(224, 219, 219);
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 70px;

}

.firstbox h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.div1-first  {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  
}

.div1-first h4 {
    color: blueviolet;
    font-size: 12px;
}


.div1-first p {
    font-size: 12px;
    font-weight: bold;
}
 /* end first box */

.leftside .secondbox {
    margin-top: 20px;
    height: 400px;
    border: 1px solid rgb(224, 219, 219);
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 15px;
    margin-left: 70px;
}

.leftside .secondbox h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
  
.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 4px;
    border-radius: 20%;
    background: white;
    border: 1px solid rgb(48, 47, 47);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #74036e;
}

.slidecontainer p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(119, 117, 117);
    
}

.secondbox .form1 label {
    font-size: 12px;
    font-weight: bold;
    color: rgb(92, 90, 90);
}

.secondbox .form2 h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.secondbox .form2 ul {
    padding-left: 12px;
}

.secondbox .form2 li {
    font-size: 12px;
    font-weight: bold;
    color: rgb(92, 90, 90);
}

/* end left side */

.rightside .nav-2 {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 70px;
    margin-right: 90px;
    margin-left: 40px;
}

.select {
    font-family: Arial;
}

select option {
    background-color: white;
}
.select select {
    background-color: rgb(241, 240, 240);
    padding-left: 10px;  
}

.select .sel1 {
    width: 80px;
    height: 35px;
    border-radius: 3px;
}

.select .sel2 {
    width: 105px;
    height: 35px;
    border-radius: 3px;
}

.select :hover {
    transform: scale(1.1);
}

/* end head */

.imgs {
    margin-top: 40px;
}

.firstline {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 200px;
}

.mainsec {
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.993), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
     
}

.mainsec .text {
    padding-top: 50px; 
    padding-bottom: 40px;
    text-align: center;
    color: black;
}

.mainsec a {
    text-decoration: none;
} 

/* end first line */

.secondline {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 40px;
}

.thirdline {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 40px;
}

.lastline {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 40px;
}

.midtext {
    text-align: center;
    margin-top: 40px;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-sec {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px; 
    padding-left: 80px;
    padding-right: 80px;
}

.sec-mid {
    position: relative;
    margin-top: 200px;
    bottom: 150px;
}

.sec-mid div :hover {
    transform: scale(1.1);
}

.sec-mid .img-text {
    position: absolute;
    bottom: 5px;
    padding-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.img-text p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* end sec-mid */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.div1 {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer li {
    color: gray;
    font-size: 12px;
}

.footer p {
    color: gray;
    font-size: 12px;
}

.footer i {
    color: blueviolet;
}
.span-f {
    color: blueviolet;
}

.footer .info {
    width: 150px;
    text-align: left; 
}

.footer button {
    width: 80px;
    height: 35px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px blueviolet;
    border: none;
    text-decoration: none; 
}


.footer-b {
    display: flex;
    justify-content: space-between;  
    width: 180px;
}

footer {
    color: gray;
    text-align: center;
    margin-top: 100px;
}